@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #61303F;
    color: #ffffff;
}

.apresentacao{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    display: flex;
    padding: 15px;
    flex-direction: column;
    width: 180px;
    justify-content: center ;
    gap: 40px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    background-color: #61303F;
    border: 2px solid #ffffff;
    width: 300px;
    text-align: center;
    border-radius: 80px;
    font-size: 100%;
    font-family: 'Roboto Mono', serif;
    padding: 25px 0;
    text-decoration: none;
    color: black;
}

.apresentacao__links__link1{
    display: flex;
    justify-content: center;
    background-color: #61303F;
    border: 2px solid #ffffff;
    width: 300px;
    text-align: center;
    border-radius: 80px;
    font-size: 100%;
    font-family: 'Roboto Mono', serif;
    padding: 25px 0;
    text-decoration: none;
    color: black;
}

.apresentacao__conteudo__modelos{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.apresentacao__conteudo__modelos1{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 30px;
}

.apresentacao__links__link:hover{
    background-color: #64B161;
}

.apresentacao__links__link1:hover{
    background-color: #c4803c;
}